#about {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#about img {
  width: 5%;
}

#about p {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  #about p {
    width: 100%;
  }
}
